<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>uk.org.upfold.Socky</string>
	<key>Program</key>
	<string>/usr/local/bin/Socky</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/Socky</string>
		<string>3689</string>
		<string>9050</string>
		<string>27060</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
